In [1]:
num_list = [1,2,3,4,5,6,7,8,9,10]

In [3]:
# for loop used on list
for num in num_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [6]:
for num in num_list:
    if num % 2 == 0:
        print(f'Even Number: {num}')
    else:
        print(f'Odd number: {num}')

Odd number: 1
Even Number: 2
Odd number: 3
Even Number: 4
Odd number: 5
Even Number: 6
Odd number: 7
Even Number: 8
Odd number: 9
Even Number: 10

In [24]:
sum_of_list = 0

for num in num_list:
    sum_of_list = sum_of_list + num
    print(sum_of_list)

print(f'The sum of all the numbers in the given list is {sum_of_list}')

1
3
6
10
15
21
28
36
45
55
The sum of all the numbers in the given list is 55

In [7]:
tup = (1,2,3)

In [8]:
for num in tup:
    print(num)

1
2
3

In [9]:
mytup = [(1,2),(3,4),(5,6),(7,8)]

In [11]:
for num in mytup:
    print(num)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [10]:
# Tuple unpacking
for a,b in mytup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [12]:
message = "hello Akash"

In [13]:
# for loop used in string
for letter in message:
    print(letter)

h
e
l
l
o

A
k
a
s
h

In [15]:
len(message)

11

In [14]:
for _ in message:
    print("Awesome")

Awesome
Awesome
Awesome
Awesome
Awesome
Awesome
Awesome
Awesome
Awesome
Awesome
Awesome

In [16]:
for letter in message:
    print("Ohayo")

Ohayo
Ohayo
Ohayo
Ohayo
Ohayo
Ohayo
Ohayo
Ohayo
Ohayo
Ohayo
Ohayo

In [17]:
d = {'Mango':100,'Apple':80}

In [18]:
# For loop used on a dictionary
# here u can notice that only the keys value are printed
for value in d:
    print(value)

Mango
Apple

In [19]:
# here both keys and values can be printed
for value in d.items():
    print(value)

('Mango', 100)
('Apple', 80)

In [20]:
# Unpacking dictionary
for keys,values in d.items():
    print(keys)
    print(values)

Mango
100
Apple
80

In [21]:
for value in d.keys():
    print(value)

Mango
Apple

In [22]:
for value in d.values():
    print(value)

100
80

Here we have seen how can an object can be iterated using for loop on lists,strings,tupes and dictionaries.