In [1]:
'My Name is Akash'

'My Name is Akash'

In [2]:
len('My Name is Akash')

16

In [3]:
"I'm a student"

"I'm a student"

In [4]:
"My Name is Akash"
"I'm 21 years old"

"I'm 21 years old"

here you can see only the second string output take place but I wanted both the string to be show. To solve this problem we will use print() function whioch is a built in function  in python and used to print the strings. as we see below:

In [5]:
print("My Name is Akash")
print("I'm 21 years old")

My Name is Akash
I'm 21 years old

In [6]:
len("My Name is Akash")

16

In [7]:
len("I'm 21 years old")

16

In [10]:
print("My Name is Akash \nI'm 21 years old")

My Name is Akash
I'm 21 years old

In [11]:
print("My Name is Akash \tI'm 21 years old")

My Name is Akash 	I'm 21 years old

\n for new line and \t for tab which means 4 spaces

# Indexing

In [12]:
mystring = "Hello World"

In [13]:
mystring

'Hello World'

In [14]:
mystring[0]

'H'

In [16]:
mystring[10]

'd'

In [17]:
mystring[-1]

'd'

here variable name  mystring is assigned with string: "Hello World" each character is given an index number H-0, e-1, l-2, l-3, o-4, 5, W-6, o-7, r-8, l-9, d-10.
By using this index numbers indexing can be done.
Reverse indexing can be used to get the last character when the string is so long that one cannot count.

# Slicing

In [2]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [19]:
len(alphabet)

26

In [20]:
alphabet[2:]

'cdefghijklmnopqrstuvwxyz'

Here from 2nd index character till the end will get on output

In [21]:
alphabet[:7]

'abcdefg'

Here from starting index upto 7th index will be shown in output.

In [22]:
alphabet[::2]

'acegikmoqsuwy'

Here step size of 2 will make the characters jump from one character to another leaving odd indexes.

In [23]:
# Here Reverse indexing is used which is useful in case of long strings inorder tof ind the last character
alphabet[1:-1:2]

'bdfhjlnprtvx'

Here stringname[start:stop:step] starting index, index upto which character and how long to jump. By using start,stop and step from one index to a particular index and how long a jump it will make all can be decided.

# String properties and methods

In [25]:
#String Concentation 
Name = "Akash"
x= Name[1:]

In [26]:
"Pra" + x

'Prakash'

In [28]:
# used to capitalize
Name.upper()

'AKASH'

In [29]:
# used to convert into smallcase
Name.lower()

'akash'

In [30]:
# used to split 
myname = "Akash Mishra"

In [31]:
myname.split()

['Akash', 'Mishra']

In [32]:
# spliting on the basis of letter "a"
myname.split("a")

['Ak', 'sh Mishr', '']

In [33]:
# string concatenation
"My name is " + myname

'My name is Akash Mishra'

In [36]:
beesound = 'z' * 100

In [37]:
beesound

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

# Print formatting with Strings

In [38]:
# .format() method
print("Today is {}".format("Thursday"))

Today is Thursday

In [40]:
print("The weekdays are {}, {}, {}, {}, and {}".format("Monday","Tuesday","Wednesday","Thursday","Friday"))

The weekdays are Monday, Tuesday, Wednesday, Thursday, and Friday

In [41]:
print("The weekdays are {0}, {1}, {2}, {3}, and {4}".format("Monday","Tuesday","Wednesday","Thursday","Friday"))

The weekdays are Monday, Tuesday, Wednesday, Thursday, and Friday

In [42]:
print("The weekdays are {M}, {T}, {W}, {TH}, and {F}".format(M = "Monday",T ="Tuesday",W = "Wednesday",TH ="Thursday",F = "Friday"))

The weekdays are Monday, Tuesday, Wednesday, Thursday, and Friday

In [44]:
# Floating point number formatting
result = 127/8

In [45]:
result

15.875

In [46]:
a = 343/6

In [47]:
a

57.166666666666664

In [48]:
print("The result is {}".format(a))

The result is 57.166666666666664

In [49]:
result = a

In [50]:
result

57.166666666666664

In [51]:
print("The result is {r:1.4f}".format(r = result))

The result is 57.1667

In [52]:
# f-strings
College = "PCE"

In [53]:
print("I study in {}".format(College))

I study in PCE

In [54]:
print(f"I study in {College}")

I study in PCE

In [55]:
Degree = "BTech"
Course = "EXTC Engineering"

In [56]:
print(f"I am pursuing {Degree} in {Course}")

I am pursuing BTech in EXTC Engineering

Here .format() method, floating point numbers formatting {value:width.precisonf} and f-strings are used for print formatting with strings

In [3]:
#Reversing the string
alphabet[::-1]

'zyxwvutsrqponmlkjihgfedcba'